body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
p{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header{
    height: 55px;
    display: flex;
    justify-content: space-around;   
    width: 100%;
    background-color: #182331;
}
header div{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}
.a{
    background-color: rgb(36, 69, 52);
    color: aliceblue;
    display: flex;
}

#impress{
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 75px;
}
.a img{
    width: 500px;
    border-radius: 5px;
}
.b{
    background-color: honeydew;
    padding: 75px;
}
.b h2{
    font-size: 2rem;
}
.press{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}
.press h1{
    font-size: 2.5rem;
}
.parts{
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
}
.parts div{
    flex: 1 0;
    width: 225px;
    
}
.parts img{
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 15px;
}
.c{
    padding: 85px;
    color: honeydew;
    background-image: url("./img/pexels-simonreza-9939337.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.c p{
    font-size: 25px;
}
.c h3{
    text-align: end;
}

.d{
    background-color: honeydew;
}

#xpress{
    padding: 75px;
}
#xpress div{
    background-color: rgb(36, 69, 52);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 50px;
}
#xpress div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 25px;
}
h3{
    margin: 0;
    font-size: 25px;
}
button{
    background-color: cadetblue;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    border: 2px solid;
    color: honeydew;
    border-radius: 5px;

}
button:hover{
    background-color: lightblue;
    border: 2px solid;
    color: #182331;
}
footer{
    background-color: #182331;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}