*{
    border: 3px solid maroon;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.a, .b, .c, .d{
    flex: 1;
}

header{
    height: 55px;
    display: flex;
    justify-content: space-evenly;   
    width: 100%;
    background-color: #182331;
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}
.a{
    background-color: rgb(36, 69, 52);
    color: aliceblue;
    display: flex;
}
.a div{
    display: flex;
    align-items: center;
}
#impress{
    gap: 35px;
    padding: 75px;
}
.a img{
    width: 500px;
}

.b{
    background-color: honeydew;
    padding: 75px;
}
.press{
    display: flex;
    flex-direction: column;
    
}
.parts{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.parts div{
    flex: 1 0;
    
}
.parts img{
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 15px;
}
.c{
    padding: 85px;
    background-image: url("./img/pexels-simonreza-9939337.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.d{
    background-color: honeydew;
}
#xpress{
    padding: 75px;
}
#xpress div{
    background-color: rgb(36, 69, 52);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 50px;
}

button{
    background-color: cadetblue;
    padding: 10px;
    border: 2px solid;
    color: honeydew;
}
button:hover{
    background-color: lightblue;
    font-weight: bold;
    border: 2px solid;
    color: #182331;
}
footer{
    background-color: #182331;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}