*{
    border: 3px solid maroon;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a, .b, .c, .d{
    flex: 1;
}

header{
    display: flex;
    justify-content: space-evenly;   
    width: 100%;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}
.a div{
    display: flex;
}

.press{
    display: flex;
    flex-direction: column;
}

.parts{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.d div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    text-align: center;
    width: 100%;
}