*{
    border: 3px solid maroon;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.a, .b, .c, .d{
    flex: 1;
}

header{
    height: 55px;
    display: flex;
    justify-content: space-evenly;   
    width: 100%;
    background-color: #182331;
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}
.a{
    background-color: rgb(36, 69, 52);
    color: aliceblue;
    display: flex;
}
.a div{
    display: flex;
    align-items: center;
}
.b{
    background-color: honeydew;
}
.press{
    display: flex;
    flex-direction: column;
}

.parts{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.d{
    background-color: honeydew;
}
.d div{
    background-color: rgb(36, 69, 52);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    background-color: cadetblue;
    padding: 10px;
    border: 2px solid;
    color: honeydew;
}
button:hover{
    background-color: lightblue;
    font-weight: bold;
    color: darkslateblue;
}
footer{
    background-color: #182331;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}